.navbar{
    height: 60px;
    background-color: #6c21b3;
    display: flex;
    align-items: center;
}
.navContainer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a55ce9;
}
